body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(img/logo_blue.jpg);
    background-repeat: repeat;
}

#main p.lead {
    color: #0570C8;
}

#main nav {
    background-color: #0E86EA;
}

#header {
    background-color: #FF6828;
   
    height: 200px;
    color: #FFCA28;
}

#header #header-text {
    font-size: 20pt;
    padding-left: 30px;
    padding-top: 20px;
    text-shadow: 2px 2px #FF4C00;
    font-family: 'Titan One', cursive;
}

#header #header-inner {
    background-image: url(img/logo_orange.jpg);
    background-repeat: no-repeat;
    background-position: left;
    height: 200px;   
}

#footer {
    background-color: #0E86EA;
    clear: both;
}

blockquote {
    font-style: italic;
    padding-left: 2rem;
    margin-left: 2rem;
    border-left: #339af0 4px solid;
}

#menu-large {
    display: none;
}

#menu-small {
    display:  block;
}

.cover-image {
    display: none;
}

#content-wrapper {
    padding: 0;
}

@media only screen and (min-width: 768px) {
    #header #header-text {
        font-size: 24pt;        
        transform: rotate(-5deg);
    }
    #header {
        background-image: url(img/hubert_cartoon.jpg);
        background-repeat: no-repeat;
        background-position: right; 
    }
    #content-wrapper {
        padding: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    #header #header-text {
        font-size: 36pt;
        transform: rotate(-5deg);
    }
    #menu-large {
        display: block;
    }
    #menu-small {
        display:  none;
    }
    .cover-image {
        display: block;
    }
}