// Bootstrap variables
$primary: #FF6828;
$black: #000;
$box-shadow-lg: 0 1rem 3rem rgba($black, .70);
$btn-border-radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap";

// base variables
$background-image: url(../../img/logo_blue.jpg);
$nav-color: #0E86EA;
$header-bg-color: #FF6828;
$header-fg-color: #FFCA28;
$header-shadow-color: #FF4C00;
$header-image: url(../../img/logo_header_orange.jpg);
$header-border: 0px;
$header-font-family: 'Titan One', cursive;
$header-lg-font-size: 40pt;
$header-sm-font-size: 24pt;

@import "base.scss";
